*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
}

.calculator{
    width:350px;

    padding:30px;

    backdrop-filter:blur(20px);

    background:rgba(255,255,255,0.15);

    border-radius:20px;

    box-shadow:
    0 8px 32px rgba(0,0,0,0.2);

    text-align:center;

    color:white;
}

h1{
    margin-bottom:20px;
}

input,
select{
    width:100%;
    padding:12px;
    margin:10px 0;

    border:none;

    border-radius:10px;

    outline:none;
}

button{
    width:100%;

    padding:12px;

    margin-top:15px;

    border:none;

    border-radius:10px;

    background:#00d4ff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

#result{
    margin-top:20px;
}
