<!DOCTYPE html>
<html>
<head>
    <title>Glass Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="calculator">

        <h1>Calculator</h1>

        <input type="number" id="num1" placeholder="First Number">

        <input type="number" id="num2" placeholder="Second Number">

        <select id="operation">
            <option value="+">Addition (+)</option>
            <option value="-">Subtraction (-)</option>
            <option value="*">Multiplication (*)</option>
            <option value="/">Division (/)</option>
        </select>

        <button onclick="calculate()">Calculate</button>

        <h2 id="result">Result: 0</h2>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
